<nav class="navbar navbar-expand-lg bg-light" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}" style="font-family: 'Lucida Sans'"  >АВТО-ДОМ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=""></a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="nav">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{label.lang}">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="?lang=ru" th:text="#{label.ru}"></a></li>
                            <li><a class="dropdown-item" href="?lang=kk" th:text="#{label.kk}"></a></li>
                            <li><a class="dropdown-item" href="?lang=en" th:text="#{label.en}"></a></li>
                        </ul>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" sec:authorize = "isAnonymous()" th:text="#{navbar.register}" th:href="@{'/register'}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" sec:authorize = "isAnonymous()" th:text="#{navbar.profile}" th:href="@{'/signin'}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" sec:authorize = "isAnonymous()" th:text="#{navbar.login}" th:href="@{'/signin'}"></a>
                </li>
                    <div class="dropdown mx-3" sec:authorize = "isAuthenticated()">
                        <a class=" dropdown-toggle" style="text-decoration: none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{navbar.profile}">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" th:href="@{'/updatepassword'}" th:text="#{update.password}"></a></li>
                            <li><a class="dropdown-item" th:href="@{'/myad'}" th:text="#{a.myad}"></a></li>
                            <li><a class="dropdown-item" th:href="@{'/favoritead'}" th:text="#{p.favorite}"></a></li>
                            <li><a class="dropdown-item" th:href="@{'/adminpanel'}" sec:authorize = "hasAnyRole('ROLE_ADMIN')" th:text="#{label.admin}"></a></li>
                            <form th:action="@{'/exit'}" method="post">
                            <li><button type="submit" class="dropdown-item "  th:text="#{navbar.signOut}"></button></li>
                            </form>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"  th:text="#{navbar.allAd}" th:href="@{'/allad'}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" sec:authorize = "isAuthenticated()" th:text="#{navbar.addAd}" th:href="@{'/adAdd'}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" sec:authorize = "isAnonymous()" th:text="#{navbar.addAd}" th:href="@{'/signin'}"></a>
        </li>
    </ul>
</div>